body {
    background: gray;

}

.Portfolio {
    position: relative;
    float: left;
    height: 30%;
    width: 30%;
    margin: 40px;
    padding: 40px;
    background: #fff;

    border: 2px solid black;
}



.Stocks {
    background: #aaa;
    height: 200px;
    overflow: auto;
    border: 2px solid black;
}

.stocksTable {
    
    width: 100%;
}

#tableHead {

}

#tableBody {
    
    background: #fff;
}


#addPortfolio {
    display: none;
}
#addStock {
    display: none;
}
